                
        <img src="../media/book.png" width="200" />
        <h3>Leia "Kaled é o Mahdi" no Wattpad!</h3>
        <a href="https://www.wattpad.com/story/360139746-kaled-%C3%A9-o-mahdi" target="_blank">LEIA AGORA!!</a>
        <br />
        <h3>Faça parte da nossa missão!</h3>
        Envie um correio eletrônico para o endereco <b>khaledfriends@mail.com</b>
        <br />
        <a href="http://www.snaplog.com/users/khalednavid">Snaplog</a>
        <br />
        <a href="../index.html">عربي</a> - <a href="../index.html">Português</a> 
        <h3>Feito com amor por Pedro Vasconcellos - 2008</h3>
    </body>
</html>