<html>
    <head>
        <title>KALED É O MAHDI!!!</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>
    <body style="text-align: center; color: white; background-image: url('media/bg.jpg');">
        <img src="media/tengri.png" style="float: left;" />
        <img src="media/tengri.png" style="float: right" />

        <a href="index.html"><h1>KALED É O MAHDI!</h1></a>
        <h3>www.khaledisthemahdi.rf.gd</h3>
        <p>
            Alegremse filhos da Mãe e povo da Terra. O messias retornou no corpo de um jovem
            garoto iraniano, trazendo boas novas e boa sorte para todos nos S2.
        </p>
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDA4N3JjbGgzYm1xOXB4N3FldDBiOXlqdzFnb281d3kxbmt4czVobSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cRLk4NlR0eh0fPhcYh/giphy-downsized-large.gif" width="480" height="270">
        <h3>Quem é Kaled?</h3>
        <p>
            Kaled é o Mahdi, um jovem garoto nascido no Irã do corpo de uma jovem garota de Mexede.
            Após o nascimento, Kaled foi separado de sua mãe e resgatado por um amável e rico casal
            em Teerãn.
        </p>

        <!-- foi a Gabriela quem quis colocar isso >=( -->
       <img style="float: left;"Src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWY3MGs5NWxheDNkYjRhczNleHN0em9qaHl2bWM0eHY1ZGczNGM5YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BXVRf5GyMlElO/giphy.gif" width=" 200 " height="170"   >
     <img style="float: right;"Src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWY3MGs5NWxheDNkYjRhczNleHN0em9qaHl2bWM0eHY1ZGczNGM5YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BXVRf5GyMlElO/giphy.gif" width="  200 " height="170 ">
        
        <h3>Os textos sagrados</h3>
        <ul>
            {{capList}}
        </ul>

        <img src="media/book.png" width="200" />
        <h3>Leia "Kaled é o Mahdi" no Wattpad!</h3>
        <a href="https://www.wattpad.com/story/360139746-kaled-%C3%A9-o-mahdi" target="_blank">LEIA AGORA!!</a>
        <br />
        <h3>Faça parte da nossa missão!</h3>
        Envie um correio eletrônico para o endereco <b>khaledfriends@mail.com</b>
        <br />
        <a href="http://www.snaplog.com/users/khalednavid">meu Snaplog</a>
        <br />
        <a href="index.html">عربي</a> - <a href="index.html">Português</a> 
        <h3>Feito com amor por Pedro Vasconcellos - 2008</h3>
    </body>
</html>